body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Escuro como terminais de trade */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    text-align: center;
    background: #333;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
h1 { color: #ffb100; } /* Amarelo Betfair */
/* Barra de Navegação Principal */
.navbar {
    background-color: #1b262c;
    padding: 15px 40px; /* Espaço interno */
    display: flex; /* Ativa o modo flexível */
    justify-content: space-between; /* Manda o logo pra esquerda e links pra direita */
    align-items: center; /* Centraliza verticalmente */
    border-bottom: 2px solid #ffb100;
    position: sticky; /* Faz o menu ficar fixo no topo ao rolar */
    top: 0;
    z-index: 1000;
}

/* Estilo do Logo (Esquerda) */
.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.logo span {
    color: #ffb100;
}

/* Estilo dos Links (Direita) */
.nav-links {
    list-style: none; /* Tira as bolinhas da lista */
    display: flex; /* Deixa os links um ao lado do outro */
    margin: 0;
    padding: 0;
    gap: 30px; /* Espaço entre cada botão */
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffb100;
}

/* Ajuste para o link de Sair ficar vermelho */
.btn-sair {
    color: #ff4444 !important;
}
